# Building dataframe from multiple files in Python

How to consolidate data from multiple csv files to one data frame

You can download the copy of the data files [here](https://drive.google.com/open?id=1sFL2MMELasLHEYtoxK1ian4dTxS7UV7S) which are of size 2.12GB

In this tutorial, we are going to use two methods namely:
* Pandas
* dask with pandas

In [1]:
# import necessary files
import pandas as pd
from glob import glob

**Method 1**: Using generator and pandas

Step 1 : Use Python's glob () function to list all files that match a given pattern

In [2]:
sales_files = glob('Data/Copy of Sales_Data*.csv')
sales_files

['Data\\Copy of Sales_Data_1.csv',
 'Data\\Copy of Sales_Data_10.csv',
 'Data\\Copy of Sales_Data_11.csv',
 'Data\\Copy of Sales_Data_12.csv',
 'Data\\Copy of Sales_Data_13.csv',
 'Data\\Copy of Sales_Data_14.csv',
 'Data\\Copy of Sales_Data_15.csv',
 'Data\\Copy of Sales_Data_16.csv',
 'Data\\Copy of Sales_Data_17.csv',
 'Data\\Copy of Sales_Data_18.csv',
 'Data\\Copy of Sales_Data_19.csv',
 'Data\\Copy of Sales_Data_2.csv',
 'Data\\Copy of Sales_Data_20.csv',
 'Data\\Copy of Sales_Data_3.csv',
 'Data\\Copy of Sales_Data_4.csv',
 'Data\\Copy of Sales_Data_5.csv',
 'Data\\Copy of Sales_Data_6.csv',
 'Data\\Copy of Sales_Data_7.csv',
 'Data\\Copy of Sales_Data_8.csv',
 'Data\\Copy of Sales_Data_9.csv']

Step 2: Use a generator expression to read the files and use concat() to combine them

In [3]:
%time sales = pd.concat((pd.read_csv(file) for file in sales_files), ignore_index= False, axis= 'rows')

Wall time: 1min 5s

Now we have all the data in sales DataFrame. We can see the first five of the dataset by using head() function.

In [4]:
sales.head()

  Region Product        Date          Sales
0   West  Prod T  2012-09-06   53395.177324
1   West  Prod K  2016-02-23  116609.694781
2  South  Prod F  2013-09-20   72524.095297
3  South  Prod J  2010-12-24   22538.478726
4  North  Prod D  2012-03-28   45616.532823

In [5]:
sales.shape

(50000000, 4)

In [6]:
sales.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000000 entries, 0 to 2499999
Data columns (total 4 columns):
Region     object
Product    object
Date       object
Sales      float64
dtypes: float64(1), object(3)
memory usage: 9.7 GB

**Method 2**: Using dask frame and pandas

Dask provides multi-core execution on larger-than-memory datasets. More info about Dask can be found [here](https://github.com/dask/dask-tutorial).

In [7]:
import dask.dataframe as dd
import datetime

start = datetime.datetime.now()

# read multiple files as dask.dataframe
sales_dask = dd.read_csv('Data/Copy of Sales_Data*.csv')

# Convert it back to Pandas dataframe
sales_pandas = sales_dask.compute()

end = datetime.datetime.now()

print('The time taken is {}'.format(end-start))

The time taken is 0:00:31.357476

It appears that reading a big data file as a Dask frame and then converting it to Pandas dataframe takes lesser time than reading through pandas dataframe. Thus, it might be a good idea to import a large data file through dask and then convert it to pandas dataframe.

In [8]:
sales_pandas.shape

(50000000, 4)

In [9]:
sales_pandas.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000000 entries, 0 to 1097679
Data columns (total 4 columns):
Region     object
Product    object
Date       object
Sales      float64
dtypes: float64(1), object(3)
memory usage: 9.7 GB

**Note**: If the size of the file is small and can quite fit the RAM of the computer, then there is no need to use Dask frame in that sense.

---
If you like this writeup, you can also follow me on [Twitter](https://www.twitter.com/gbganalyst) and/or [Linkedin](https://www.linkedin.com/in/ezekiel-ogundepo/) for more updates in `R` and `Python` for datascience.